@import "./button";

@import "./backdrop";

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background: #c4c4c4;

  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/bg_hero.jpg");    
}

.hero__container {
   width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.hero__title {
  margin-bottom: 30px;
  text-transform: uppercase;

  color: $tertiary-text-color;
  letter-spacing: 0.06em;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}