*,
*::before,
*::after {
  box-sizing: border-box;
}

.body {
  background-color: $primeri-bg-color;
  color: $primeri-text-color;
  font-family: $primeri-font-family;
  letter-spacing: $primeri-letter-spacing;
}

%container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

h1,
h2,
h3,
p {
  margin: 0;
}

%link {
  text-decoration: none;
  transition: color $transition, background-color $transition;
}

%list {
  list-style: none;
  padding: 0;
  margin: 0;
}
